.container-erro{
    background-color: rgba(69, 182, 156, 0.034);;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-erro h1{
    color: #6E9887;
    padding: 0px;
    font-size: 100px;
}

.container-erro p{
    width: 300px;
    text-align: center;
}

.container-erro a{
    text-decoration: none;
    width: 120px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    color: #FFF;
    background-color: #d4a198;
    border-radius: 20px;
}