footer{
    display: flex;
    height: 250px;
    width: 100%;
    background-color: #6e988754;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.container-icons-footer{
    display: flex;
    width: 100px;
    justify-content: center;
}

.icon-footer{
    margin: 10px 10px 0 0;
    color: #FFF;
    background-color: #d4a198;
    padding: 10px;
    border-radius: 20px;
}

.logo-footer img{
    width: 150px;
    height: 150px;
}

.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.text-footer h3{
    color: #6E9887;
    font-size: 20px;
    font-weight: 100;
    width: 250px;
    margin-top: 5px;
}

.text-footer p{
    width: 250px;
    font-weight: 100;
}

@media(max-width: 700px){
    .text-footer p{
        max-width: 80%;
        font-size: 15px;
    }

    .text-footer h3{
        max-width: 80%;
    }

    .logo-footer p{
        text-align: center;
    }
}