

.container-espaco{
    display: flex;
    width: 100%;
    background-color: rgba(69, 182, 156, 0.034);
    height: 138vh;
}

.texto-espaco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.texto-espaco h2{
    width: 200px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 100;
    color: #6E9887;
}

.texto-espaco p{
    width: 200px;
}

.texto-espaco a{
    text-decoration: none;
    text-align: center;
    margin-right: 30px;
    width: 150px;
    margin-top: 2px;
    border-radius: 20px;
    padding: 3px;
    background-color: #d4a198;
    color: #FFF;
}

.img-espaco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.espaco-button{
    margin-top: 50px;
}

.espaco-button a{
    padding: 5px;
}

.img-espaco img{
    width: 500px;
    height: 400px;
    margin-top: 50px;
    border: 5px solid #FFF;
}



@media(max-width: 868px){
    .container-espaco{
        flex-direction: column;
        height: 190vh;
    }

    .texto-espaco{
        width: 90%;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    .img-espaco{
        width: 100%;
        justify-content: flex-start;
    }

    .img-espaco img{
        width: 350px;
        margin-top: 8px;
    }
}